 *{
    box-sizing: border-box;
 }
 
 body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }

    h1 {
      color: darkblue;
    }

    #todo-box {
      background-color: white;
      padding: 20px;
      width: 350px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    input {
      width: 70%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 8px 12px;
      background-color: darkblue;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: white;
      color: darkblue;
      border: 1px solid darkblue;
    }

    ul {
      list-style: none;
      margin-top: 20px;
      padding: 0;
    }

    li {
      background: #f2f2f2;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icons i {
      font-size: 18px;
      cursor: pointer;
      margin-left: 10px;
      transition: 0.2s;
    }

    .icons .fa-pen-to-square {
      color: green;
    }

    .icons .fa-pen-to-square:hover {
      color: darkgreen;
    }

    .icons .fa-trash {
      color: red;
    }

    .icons .fa-trash:hover {
      color: darkred;
    }